@import 'tailwindcss';

:root {
	--theme-border-color: rgba(32, 108, 207, 0.989); /* Default Blue */
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	--color-outline: #cacadb;
	--color-accent: #f5f6f8;
	--color-neutral: #eaeaef;
	--color-base: #fff;
	--color-info: #1c252a;
	--color-error: #e02222;
	--color-success: #50c878;
	--color-active: #eaeaef;
	--color-bold-red: #b8273f;
	--color-light-red: #fde8e8;
	--color-red-text: #a60d27;

	--color-blue: rgba(0, 130, 220, 1);
}

[data-theme='dark'] {
	--color-primary: #1c252a;
	--color-secondary: #293338;
	--color-outline: #64748b;
	--color-accent: #232c32;
	--color-neutral: #3a4e5c;
	--color-base: #111827;
	--color-info: #d9dee9;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: #3a4e5c;
	--color-bold-red: #ae2843;
	--color-light-red: #713b44;
	--color-red-text: #ffd9d9;
}

[data-theme='light'][data-theme-option='blue'] {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	--color-accent: #f5f6f8;
	--color-base: #eff6ff;
	--color-info: #1a202c;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(0, 149, 255, 0.751);
	--active-soft: rgba(0, 149, 255, 0.253);
}
[data-theme='dark'][data-theme-option='blue'] {
	--color-primary: #1c252a;
	--color-secondary: #242d33;
	--color-accent: #1f282d;
	--color-base: #eff6ff;
	--color-info: #eff6ff;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(0, 149, 255, 0.751);
	--active-soft: rgba(0, 149, 255, 0.253);
}

[data-theme='light'][data-theme-option='mint'] {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	/* --color-outline: #adebb3; */
	--color-accent: #f5f6f8;
	/* --color-neutral: #eaeaef; */
	--color-base: #eff6ff;
	--color-info: #1a202c;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(78, 197, 90, 0.63);
	--active-soft: rgba(78, 197, 90, 0.199);
}
[data-theme='dark'][data-theme-option='mint'] {
	--color-primary: #1c252a;
	--color-secondary: #242d33;
	--color-accent: #1f282d;
	--color-base: #eff6ff;
	--color-info: #eff6ff;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(78, 197, 90, 0.63);
	--active-soft: rgba(78, 197, 90, 0.199);
}

[data-theme='light'][data-theme-option='grey'] {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	--color-accent: #f5f6f8;
	--color-base: #eff6ff;
	--color-info: #1a202c;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(128, 128, 128, 0.74);
	--active-soft: rgba(128, 128, 128, 0.203);
}
[data-theme='dark'][data-theme-option='grey'] {
	--color-primary: #1c252a;
	--color-secondary: #242d33;
	/* --color-outline: #aeaa9e; */
	--color-accent: #1f282d;
	/* --color-neutral: #818589; */
	--color-base: #eff6ff;
	--color-info: #eff6ff;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(128, 128, 128, 0.74);

	--active-soft: rgba(128, 128, 128, 0.203);
}

[data-theme='light'][data-theme-option='teal'] {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	/* --color-outline: #aeb8ce; */
	--color-accent: #f5f6f8;
	/* --color-neutral: #eaeaef; */
	--color-base: #f5f3ff;
	--color-info: #1a202c;
	--color-error: #e02222;
	--color-success: #34d399;
	--color-active: rgba(50, 153, 153, 0.516);
	--active-soft: rgba(50, 153, 153, 0.221);
}
[data-theme='dark'][data-theme-option='teal'] {
	--color-primary: #1c252a;
	--color-secondary: #242d33;
	/* --color-outline: #aeb8ce; */
	--color-accent: #1f282d;
	/* --color-neutral: #329999; */
	--color-base: #f5f3ff;
	--color-info: #e5e7eb;
	--color-error: #e02222;
	--color-success: #218d65;
	--color-active: rgba(50, 153, 153, 0.516);
	--active-soft: rgba(50, 153, 153, 0.221);
}

[data-theme='light'][data-theme-option='gold'] {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	/* --color-outline:#d1a908; */
	--color-accent: #f5f6f8;
	/* --color-neutral: #eaeaef; */
	--color-base: #eff6ff;
	--color-info: #1a202c;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(255, 217, 0, 0.477);
	--active-soft: rgba(255, 217, 0, 0.169);
}
[data-theme='dark'][data-theme-option='gold'] {
	--color-primary: #1c252a;
	--color-secondary: #242d33;
	/* --color-outline: #d1a908; */
	--color-accent: #1f282d;
	/* --color-neutral: #ffd700; */
	--color-base: #eff6ff;
	--color-info: #eff6ff;
	--color-error: #e02222;
	--color-success: #10b981;
	--color-active: rgba(255, 217, 0, 0.413);
	--active-soft: rgba(255, 217, 0, 0.169);
}

.app-shell {
	@apply flex min-h-screen bg-[var(--color-base)];
}

/* Sidebar */
.app-sidebar {
	width: 250px;
	background: #1e293b;
	color: white;
	padding: 20px;
	transition: width 0.3s;
}
.app-bar {
	@apply fixed top-0 right-0 left-0 z-10 flex h-14 items-center bg-[var(--color-primary)] px-4 text-[var(--color-info)] shadow-md;
}
/* === Drawer (Mobile Menu) === */
.drawer {
	@apply fixed top-0 left-0 z-20 h-screen w-64 bg-[var(--color-secondary)] p-4 transition-transform duration-300;
	transform: translateX(-100%);
}

/* Drawer Open */
.drawer.open {
	transform: translateX(0);
}

/* Drawer Overlay */
.drawer-overlay {
	@apply fixed inset-0 hidden bg-black;
}

.drawer.open + .drawer-overlay {
	@apply block;
}

/* === Main Content === */
.app-content {
	@apply flex-1 p-4 pt-20; /* Ensures content doesn't overlap AppBar */
}
.sidebar {
	@apply fixed top-14 left-0 min-h-screen w-50 border-r border-[var(--color-outline)] bg-[var(--color-secondary)] px-4 py-4 text-[var(--color-info)] sm:w-56;
}
.sidebar-list {
	@apply space-y-2 ;
}
.sidebar-item {
	@apply flex rounded-md border-[var(--color-outline)] px-2 py-2 hover:bg-[var(--color-primary)] w-full cursor-pointer;
}
.sidebar-item span {
	@apply ml-2;
}
.sidebar-icon {
	@apply mr-3 h-5 w-5;
}
/* .sidebar-text {
	@apply hidden text-[var(--color-info)] sm:inline;
} */
.iconsize {
	@apply h-5 w-5;
}
.logo {
	@apply h-10 w-10;
}
.heading {
	@apply text-lg font-bold text-[var(--color-info)];
}

.sub-heading {
	@apply text-lg font-semibold text-[var(--color-info)];
}

.user-menu {
	@apply absolute top-14 right-0 z-50 w-56 rounded-md border-[var(--outline)] bg-[var(--color-secondary)] py-1 text-[var(--color-info)] shadow-lg;
}
.user-name {
	@apply flex items-center space-x-2 px-3 py-2 text-base text-[var(--color-info)];
}

.initial-icon {
	@apply flex h-10 w-10 items-center justify-center rounded-full border border-[var(--outline)] bg-[var(--color-secondary)] text-sm text-[var(--color-info)] uppercase;
}
.user-menu-item {
	@apply flex w-full items-center px-4 py-2 text-[var(--color-info)] hover:bg-[var(--color-active)];
}

.user-menu-divider {
	@apply border-[var(--outline)];
}
.menu-icon {
	@apply mr-2 h-5 w-5;
}

.theme-menu {
	@apply absolute top-14 right-0 z-50 w-64 rounded-md border-[var(--outline)] bg-[var(--color-secondary)] p-6 shadow-lg sm:w-96;
}

.theme-divider {
	@apply my-4 border bg-[var(--color-secondary)];
}

.theme-option {
	@apply relative flex items-center justify-center rounded-md px-8 py-3 text-xs sm:px-8 sm:py-3 sm:pl-4 sm:text-sm;
}

.theme-modes {
	@apply flex flex-1 items-center justify-center rounded-md border border-gray-600 p-2 text-xs sm:p-4 sm:text-sm;
}

.themes-close-button {
	@apply absolute top-2 right-2 text-[var(--color-info)];
}
.user-menu-close {
	@apply absolute top-2 right-2 text-[var(--color-info)];
}
.para {
	@apply mb-2 text-left text-sm text-[var(--color-info)];
}

.main-content {
	@apply flex-1 bg-[var(--color-secondary)] p-4 sm:ml-56;
}

.status-card {
	@apply flex flex-col justify-center rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-4 shadow-md;
}

.basic-info-card {
	@apply rounded-lg border border-[var(--color-outline)] bg-[var(--color-secondary)] p-6 shadow-md;
}
.basic-information {
	@apply mb-4 text-sm font-semibold text-[var(--color-info)] lg:text-lg;
}
.label {
	@apply mt-2 mb-2 block text-sm font-medium;
}

.text {
	@apply text-sm text-[var(--color-info)];
}

.counts {
	@apply text-2xl font-semibold text-[var(--color-info)] lg:text-5xl;
}

.additional {
	@apply ml-2 text-sm font-semibold text-[var(--color-info)];
}

.theme-container {
	@apply h-screen bg-[var(--theme-bg-color)] text-[var(--theme-text-color)];
}

.theme-button {
	padding: 0.5rem 1rem;
	border: 2px solid var(--theme-border-color);
	background-color: var(--color-bg-color);
	border-radius: 6px;
	transition: 0.2s;
}

.theme-button:hover {
	opacity: 0.8;
}

/* Appearance buttons */
.mode-button {
	padding: 0.5rem 1rem;
	border: 2px solid #aaa;
	border-radius: 6px;
	background-color: transparent;
}

.mode-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.card {
	@apply w-full max-w-sm rounded-md border border-[var(--color-outline)] shadow-md;
}

.btn {
	@apply w-full rounded-md bg-blue-500 px-2 py-2 text-white shadow transition duration-200 hover:bg-blue-400 cursor-pointer;
}

.selectcode {
	@apply min-w-max cursor-pointer appearance-none rounded-md border border-[var(--color-info)] px-4 py-2 pr-8 text-[var(--color-info)] md:text-sm;
}
.input {
	@apply w-full rounded border border-[var(--color-outline)] bg-[var(--color-base)] p-2 focus:outline-none;
}
.mobileinput {
	@apply w-full appearance-none rounded-md border border-[var(--color-outline)] bg-[var(--color-secondary)] px-3 py-2 text-[var(--color-info)] md:text-sm;
}

.input:focus {
	border-color: var(--theme-border-color);
}

.radio-input {
	accent-color: var(--theme-border-color);
	@apply mx-1 h-4 w-4;
}

.logo {
	@apply h-10 w-10;
}
.btn-primary {
	@apply w-full rounded bg-[var(--theme-border-color)] py-2 text-white transition;
}


.link {
	@apply text-sm font-semibold text-[var(--color-red-text)] transition hover:underline;
}

.navbar {
	@apply sticky top-0 z-50 flex h-14 items-center justify-between border-b border-[var(--color-outline)] bg-[var(--color-primary)] px-4 py-2 text-sm;
}

.form-container {
	@apply flex min-h-screen items-center justify-center px-4 sm:px-6 md:px-8 lg:px-10;
}

.form-box {
	@apply w-96 max-w-full rounded-lg border-[var(--color-outline)] bg-[var(--color-active)] p-6 shadow-lg;
}

.radio {
	@apply h-5 w-5 appearance-none rounded-full border border-gray-400 checked:border-transparent checked:bg-[var(--color-primary)];
}

.shadow-bottom-right {
	@apply rounded-lg border border-slate-300 bg-[var(--color-secondary)] shadow-xl;
}

.stats-container {
	@apply grid h-full w-full justify-center overflow-x-auto rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] px-4 py-4 shadow-xl sm:px-4;
}

/* thead,
tbody,
tr {
	@apply table w-full;
} */

.text-custom {
	@apply px-3 py-2 text-sm whitespace-nowrap text-[var(--color-info)];
}

.select {
	@apply rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-2 text-[var(--color-info)];
}

.tabs-btn {
	@apply rounded-lg border-[var(--color-outline)] px-4 py-2 transition;
}

.variant-filled-secondary {
	@apply bg-[var(--color-active)] text-[var(--color-primary)] hover:bg-[var(--color-active)];
}

.variant-soft-secondary {
	@apply bg-[var(--active-soft)] text-[var(--color-info)] hover:bg-[var(--active-soft)];
}

.progress-bar {
	@apply mr-2 h-2 w-1/4 rounded-full bg-[var(--color-light-red)];
}

.progress {
	@apply h-2 rounded-full bg-[var(--color-bold-red)];
}

.table {
	@apply w-full rounded-lg border border-[var(--color-outline)];
}

.footer {
	@apply fixed bottom-0 w-full bg-blue-500 p-2 text-center text-[var(--color-info)] hover:bg-blue-400;
}

.border {
	@apply rounded-lg border border-[var(--color-outline)];
}

.grid-layout {
	@apply grid grid-cols-1 justify-center rounded-lg;
}

.row-content {
	@apply px-3 py-2 text-sm whitespace-nowrap;
}

.centered-flex {
	@apply flex w-full items-center justify-center;
}

.table-heading {
	@apply py-3 text-left text-sm font-semibold sm:pl-3;
}

/* .overlay {
	@apply fixed inset-0 flex items-center justify-center;
} */

.modal {
	@apply mx-4 w-full rounded-md border border-[var(--color-outline)] bg-[var(--color-secondary)] p-6 shadow-md sm:mx-auto sm:w-11/12 md:max-w-md lg:max-w-lg;
}

.modal-title {
	@apply text-lg font-semibold text-[var(--color-info)] sm:text-xl;
}

.modal-message {
	@apply mt-4 text-sm text-[var(--color-info)];
}

.modal-actions {
	@apply mt-6 flex flex-col justify-end gap-4 sm:flex-row;
}

.cancel-btn {
	@apply cursor-pointer rounded-md border border-[var(--color-outline)] px-4 py-2 text-sm text-[var(--color-info)];
}

.cancel-btn:hover {
	@apply bg-[var(--color-secondary)];
}

.confirm-btn {
	@apply cursor-pointer rounded-md bg-[var(--color-error)] px-4 py-2 text-sm text-[var(--color-info)] transition-colors duration-200 sm:text-[var(--color-base)];
}

.confirm-btn:hover {
	@apply bg-[var(--color-error)];
}

.overlay {
	@apply fixed inset-0 z-50 flex items-center justify-center bg-[rgba(0,0,0,0.5)];
}


/* user-stats */
.users-stat-container {
    @apply grid grid-cols-1 justify-center gap-8 rounded-lg py-8;
}
.user-table {
    @apply min-w-full;
}
.select-year{
    @apply   mx-5 w-2/3 md:mx-0;
}
.piechart{
    @apply mx-5 h-64 w-64 md:mx-0;
}
.stats-heading{
    @apply px-3 text-left;
}
/* analytics-overview */
.basic-container{
    @apply flex flex-col justify-center p-8;
}
.basic-stat{
    @apply text-lg font-bold ;
}
.basic-des{
    @apply text-sm text-gray-600;
}
.history-container{
    @apply  w-full overflow-x-auto px-4 pt-4 sm:px-4; 
}
.history-head{
    @apply  pl-4 text-left text-lg font-bold sm:pl-3; 
}
.history-title{
    @apply flex items-center justify-center text-2xl;
}
.history-para{
    @apply pb-2 pl-4 text-left text-sm sm:pl-3; 
}
.not-available{
    @apply mt-28 flex items-center justify-center text-xl leading-3;
}
.users-head{
    @apply mr-4 ml-4 justify-center py-3 text-center text-lg sm:pl-3;
}
.user-roles-container{
    @apply my-10 flex-col gap-10 md:flex-row;
}
.active-users-container{
    @apply flex min-h-full w-1/2 items-center justify-center overflow-x-auto shadow-xl sm:px-4;
}
.patient-history-container{
    @apply text-sm text-[var(--color-info)] flex flex-col justify-center;
}
/* demographics */
.demographics-para{
    @apply text-sm text-[var(--color-info)] py-3 pr-3 pl-4 text-left  sm:pl-3 my-2;
}
.distribution-title{
    @apply py-3 pr-3 pl-4 text-left text-lg font-semibold sm:pl-3;
}
.distribution-container{
    @apply flex flex-col justify-center text-sm text-[var(--color-info)];
}
.data-not-available{
    @apply text-center text-lg font-semibold;
}
.data-not-available-container{
    @apply flex items-center justify-center border p-4 shadow-xl sm:px-4;
}
.distribution-card-container{
    @apply grid grid-cols-2 border sm:px-4 md:grid-cols-3;
}
.distribution-card-content{
    @apply -mx-4 -my-2 mt-4 overflow-x-auto sm:-mx-6 lg:-mx-8;
}
.card-header{
    @apply w-[30%] border py-3 pr-3 pl-4 text-left text-sm font-semibold sm:pl-3;
}
.chart-details{
    @apply border px-3 py-2 text-sm whitespace-nowrap;
}
.chart-view{
    @apply col-span-1 flex justify-center p-4;
}


/*  generic-engagement */
.user-graph-container {
	@apply py-8;
}
.user-graph-wrapper {
	@apply flex h-full w-full items-center justify-center gap-10;
}
.active-users-graph {
	@apply h-[400px] w-[400px] p-4;
}
.user-graph-card {
	@apply flex w-full items-center justify-center overflow-x-auto rounded-lg shadow-xl sm:px-4;
}
.user-graph-texts {
	@apply flex flex-col items-center text-sm text-[var(--color-info)];
}
.user-graph-title {
	@apply mr-4 ml-4 justify-center py-3 text-left !text-lg font-semibold sm:pl-3;
}
.user-graph-dec {
	@apply mr-4 ml-4 justify-center pb-1 text-left text-sm sm:pl-3;
}
.user-data-not-available {
	@apply mt-28 flex w-full items-center justify-center text-xl leading-3;
}
.generic-tables-conatiner {
	@apply mt-8 flex w-full !min-w-full items-center justify-center overflow-hidden overflow-x-auto rounded-lg sm:px-4;
}
.select-container {
	@apply absolute top-3 right-24 mt-8 flex items-center;
}

.generic-table-conntainer {
	@apply col-span-2 my-5 items-center justify-center px-2 sm:px-6 lg:px-8;
}
.generic-table-wrapper {
	@apply mx-4 my-2 overflow-x-auto sm:-mx-6 lg:mx-8;
}
.generic-table-content {
	@apply inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8;
}
.generic-table-heading {
	@apply mt-3 py-3 text-left !text-lg font-semibold sm:pl-3;
}

/* home/overall */
.dashboard-cards {
	@apply mx-auto grid grid-cols-1 gap-4 py-8 md:w-full md:grid-cols-2 lg:grid-cols-3;
}
.dashboard-subcards {
	@apply m-5 mx-auto flex h-80 flex-col gap-10 md:w-full lg:flex-row;
}

/* feature-loginsession */

.access-card {
	@apply my-5 flex max-w-sm flex-col justify-center rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-4 shadow-md sm:px-4 md:my-0 md:max-w-lg;
}
.engagement-card {
	@apply flex max-w-sm flex-col justify-center overflow-x-auto rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-4 shadow-md md:max-w-lg;
}
.retention-card {
	@apply my-5 flex max-w-[95%] flex-col justify-center overflow-x-auto rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-4 shadow-md md:my-0 md:max-w-lg;
}
.features-cards-layout {
	@apply grid grid-cols-1 justify-center gap-8 rounded-lg py-8;
}
.features-cards-wrapper {
	@apply h-full w-full items-center justify-center gap-10 md:flex;
}
.feature-card-heading {
	@apply mx-4 justify-center py-1 pt-3 text-left text-lg font-semibold sm:pl-3;
}
.feature-card-subheading {
	@apply mx-5 mt-[-4px] flex justify-start text-sm font-semibold sm:pl-3;
}
.features-container {
	@apply flex flex-col justify-center;
}
.feature-card-des {
	@apply mx-2 my-2 pb-1 text-left text-sm sm:pl-3;
}
.feature-table-heading {
	@apply border-b border-gray-200 px-4 py-2 text-left font-semibold;
}
.feature-table-data {
	@apply border-b border-gray-200 px-4 py-2;
}
.dropoff-card {
	@apply flex flex-col items-center py-3 text-lg sm:pl-3;
}

.feature-cards {
	@apply my-5 flex max-w-[95%] flex-col justify-center overflow-x-auto rounded-lg border border-[var(--color-outline)] bg-[var(--color-primary)] p-4 shadow-md md:my-0 md:max-w-lg;
}